#about {
    margin: 2vw;
}

#about h1, #about h3 {
    text-align: center;
    font-family: Josefin Sans;
    color: var(--light-blue1);
}

#about h3 {
    font-size: 30px;
}

#about-flex {
    /* display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start; */
    gap: 20px;
    margin-bottom: 40px;
}

/* #about-flex div {
    width: 48vw;
    max-width: 500px;
    min-width: 400px;
    padding: 10px 20px;
    border-radius: 20px;
} */

#about-flex div p {
    font-size: 22px;
    text-align: center;
}

#about-flex div, #about-data, #references-contact {
    width: 90vw;
    max-width: 1000px;
    margin: 20px auto;
    /* background-color: var(--dark-blue4); */
    padding: 10px 20px;
    border-radius: 20px;
    /* border: 1px solid var(--light-blue4); */
}

hr {
    width: 200px;
    margin: 20px auto;
}

#footer {
    text-align: center;
    margin-top: 40px;
}

#footer p {
    margin: auto;
}

@media (prefers-color-scheme: light) { 

    #about h1, #about h3 {
        color: var(--main-darkest)
    }

    #about a {
        color: var(--dark-blue2);
    }

    #about a:hover {
        color: var(--main-darkest);
    }

}

@media screen and (max-width: 600px) {
    #about h3 {
        font-size: 24px;
    }

    #about-flex {
        display: block;
        margin: auto;
    }

    #about div {
        width: 80vw;
        min-width: 0;
        max-width: none;
        padding: 5px 15px;
        margin: 10px auto;
    }

    #about #about-flex {
        width: 96vw;
        padding: 0;
        margin: 0;
    }

    #about-flex div p {
        font-size: 18px;
    }

    #about p {
        font-size: 14px;
    }

    #footer p {
        font-size: 10px;
    }
}