#Auth {
    width: 90vw;
    max-width: 600px;
    margin: 50px auto;
}

#login > main {
    display: block;
    width: 90vw;
    margin: auto;
    background-color: grey;
}

#account-login, #sign-up {
    width: fit-content;
    background-color: #242424;
    margin: auto;
}

#login section h2, #login section div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#login section p, #login section button {
    margin: 1vw;
}

.supabase-auth-ui_ui-container input {
    color: white;
}

.supabase-auth-ui_ui-container button {
    background-color: var(--dark-blue2);
    border: 1px solid var(--light-blue1);
    height: 50px;
}

.supabase-auth-ui_ui-container div {
    max-width: 600px;
    width: 100%;
}

.supabase-auth-ui_ui-container .c-egTDuJ-cmFMMs-color-primary:hover:not(:disabled) {
    background-color: var(--dark-blue1);
    border: 1px solid var(--light-blue4)
}

.supabase-auth-ui_ui-container .supabase-auth-ui_ui-anchor {
    color: var(--light-blue1);
    text-decoration: none;
}

.supabase-auth-ui_ui-container .supabase-auth-ui_ui-anchor:hover {
    color: var(--white);
}

.supabase-auth-ui_ui-container .supabase-auth-ui_ui-input {
    height: 50px;
    font-size: 20px;
    margin: 10px auto;
}

.supabase-auth-ui_ui-container .supabase-auth-ui_ui-input:hover {
    border: 1px solid white;
    box-shadow: 0px 0px 2px 2px white;
}