#login-form, #signup-form {
    width: 90vw;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    /* background-color: var(--dark-blue3); */
    border-radius: 10px;
    /* border: 1px solid var(--light-blue5); */
}

#login section h2, #login section div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#login section p, #login section button {
    margin: 1vw;
}

#login-form input, #signup-form input {
    color: white;
    max-width: 460px;
    width: 100%;
    height: 50px;
    font-size: 20px;
    margin: 10px auto;
    background-color: var(--dark-blue2);
    padding: 0px 15px;
    border-radius: 5px;
}

#login-form input::placeholder, #signup-form input::placeholder {
    color: rgba(255,255,255,.8);
}

#login-form button, #signup-form button {
    background-color: var(--dark-blue2);
    color: var(--white);
    /* border: 1px solid var(--light-blue1); */
    padding: 0 40px;
    height: 50px;
    margin: auto;
    display: block;
}

#login-form button:hover, #signup-form button:hover {
    background-color: var(--light-blue5);
}

#login-form input:hover:not(:disabled), #signup-form input:hover:not(:disabled) {
    border: 1px solid var(--light-blue4);
    box-shadow: 0px 0px 2px 1px white;
}

.supabase-auth-ui_ui-container .supabase-auth-ui_ui-anchor {
    color: var(--light-blue1);
    text-decoration: none;
}

.supabase-auth-ui_ui-container .supabase-auth-ui_ui-anchor:hover {
    color: var(--white);
}

#bottom-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#bottom-buttons button {
    width: fit-content;
    background-color: var(--dark-blue2);
    padding: 10px 20px;
    border-radius: 15px;
    /* border: 1px solid var(--light-blue1); */
}

#bottom-buttons button:hover {
    background-color: var(--light-blue5);
}

#check-your-email {
    text-align: center;
}

#t-and-c {
    margin: 30px auto;
}

#t-and-c a {
    color: var(--light-blue5)
}

#t-and-c a:hover {
    cursor: pointer;
    color: var(--dark-blue2)
}

#terms-and-conditions b { 
    text-decoration: underline;
}

#terms-and-conditions {
    width: 90vw;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    top: 100px;
}

#terms-and-conditions h4 { 
    font-size: 16px;
    margin: 10px auto 20px auto;
    text-align: center;
}

#terms-and-conditions p { 
    font-size: 12px;
    text-align: left;
    padding: 0 20px;
}

#terms-and-conditions button {
    margin: 15px auto;
    color: var(--dark-blue2);
}

@media screen and (max-width: 600px) {

    #login-form, #signup-form {
        width: 80vw;
        padding: 20px;
    }

    #login-form input, #signup-form input {
        width: 70vw;
        font-size: 16px;
    }

    #login-form button {
        font-size: 16px;
        padding: 10px 30px;
    }
}

@media (prefers-color-scheme: light) {
    #Auth * {
        color: var(--white)
    }

    #check-your-email {
        color: var(--light-blue5)
    }

    #login-form button, #signup-form button {
        background-color: var(--dark-blue2);
        color: white;
    }

    #login-form button:hover, #signup-form button:hover {
        background-color: var(--light-blue5);
    }
}