#best-bathrooms {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 40px 3vw;
    margin: 40px;
}

#best-bathrooms-title {
    text-align: center;
    margin-bottom: 80px;
    color: var(--light-blue1);
    font-family: Josefin Sans;
}

.one-bathroom-stock {
    /* border: 5px solid gold; */
    width: 45vw;
    max-width: 450px;
    padding: 10px 20px;
    background-color: var(--dark-blue3);
    border: 2px solid goldenrod;
    border-radius: 10px;
}

.one-bathroom-stock:hover {
    box-shadow: 0px 0px 10px 2px white;
}

.one-bathroom-stock h2, .one-bathroom-stock h3 {
    text-align: center;
}

.one-bathroom-stock h2 {
    font-family: Josefin Sans;
}

.one-bathroom-stock p {
    text-align: center;
} 

@media (prefers-color-scheme: light) { 
    #best-bathrooms-title {
        color: var(--main-darkest)
    }

    .one-bathroom-stock {
        background-color: var(--light-blue1);
        color: var(--main-darkest);
    }
}

@media screen and (max-width: 600px) {
    #best-bathrooms-title {
        font-size: calc((1.5 - 1) * 1.2vw + 2rem);
        margin-bottom: 20px;
    }

    #best-bathrooms {
        margin: 10px auto;
        gap: 1vh;
    }

    .one-bathroom-stock {
        width: 80vw;
        padding: 20px;
        margin: 10px auto;
    }

    .one-bathroom-stock h2 {
        font-size: 20px;
    }

    .one-bathroom-stock h3 {
        font-size: 16px;
    }

    .one-bathroom-stock p {
        font-size: 12px;
    }
}
