/* #all-bathrooms-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: top;
} */

#all-bathrooms {
  margin: auto;
  /* width: calc(100vw - 350px - 4vw); */
  width: 90vw;
  min-width: 800px;
  height: calc(100vh - 69px);
  overflow: scroll;
}

.one-bathroom-all {
  border-radius: 10px;
  /* border: 2px solid var(--light-blue1); */
  color: var(--white);
  background-color: inherit;
  margin: 15px;
  padding: 20px;
  display: grid;
  grid-template-columns: 35% 17% 46%;
  gap: 1%;
}

.one-bathroom-all:hover {
  box-shadow: 0px 0px 2px 2px white;
}

.one-bathroom-all h3,
.one-bathroom-all h4 {
  height: fit-content;
  margin: auto 0px;
}

.one-bathroom-all h3 {
  font-family: Josefin Sans;
}

#all-bathrooms a:nth-of-type(odd) {
  text-align: left;
  background-color: var(--dark-blue5);
}

#all-bathrooms a:nth-of-type(even) {
  background-color: var(--dark-blue3);
}

#all-filters {
  /* display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; */
  background-color: var(--main-darkest);
  /* width: 330px;
  height: calc(100vh - 69px); */
  padding-top: 10px;
  position: sticky;
  top: 60px;
  left: 0;
}

#search-and-neighborhood {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 10px auto;
}

#all-bathrooms-search label {
  margin-right: 10px;
}

#search {
  width: 70vw;
  max-width: 305px;
  border: 0;
  background-color: var(--light-blue1);
  color: var(--main-darkest);
  border: 1px solid var(--dark-blue3);
}

#search,
#neighborhood select {
  font-size: 20px;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
}

#neighborhood select {
  background-color: var(--dark-blue1);
  color: var(--white);
  border: 0px;
}

#filters {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 50px;
}

#filter-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#filter-buttons button {
  display: block;
  background-color: var(--dark-blue1);
  margin: 10px auto;
}

#filter-buttons .button-active {
  background-color: var(--light-blue2);
  color: var(--main-darkest);
}

#neighborhood {
  width: 300px;
}

#all-filters :is(input, button, select):hover {
  box-shadow: 0px 0px 4px var(--white);
}

@media (prefers-color-scheme: light) {
  #all-filters {
    background-color: var(--white);
  }

  #all-bathrooms a:nth-of-type(odd) {
    text-align: left;
    background-color: var(--light-blue1);
  }

  #all-bathrooms a:nth-of-type(even) {
    background-color: var(--light-blue2);
  }

  #all-bathrooms p,
  #all-bathrooms h3,
  #all-bathrooms h2 {
    color: var(--main-darkest);
  }

  .one-bathroom-all {
    border: 1px solid var(--blue-dark);
  }

  #filter-buttons button {
    color: var(--white);
  }

  #all-bathrooms * {
    color: var(--main-darkest);
  }
}

@media screen and (max-width: 1150px) {
  #all-bathrooms-flex {
    display: block;
  }

  #all-filters {
    width: 100vw;
    height: fit-content;
    padding: 10px;
  }

  #all-filters,
  #filters-and-neighborhood,
  #filter-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  #filters-and-neighborhood {
    width: 90vw;
  }

  #filter-buttons {
    justify-content: space-evenly;
  }

  #all-bathrooms-search,
  #neighborhood,
  #filters-and-neighborhood,
  #filter-buttons button {
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  #all-filters {
    display: block;
    padding: 1px 0;
  }

  #search-and-neighborhood {
    gap: 10px;
  }

  #all-bathrooms-search {
    margin: 0 auto;
  }

  #search {
    width: 90vw;
  }

  #search,
  #neighborhood select {
    font-size: 16px;
  }

  #filters {
    display: block;
    margin: 10px auto;
  }

  #neighborhood {
    margin: 0px auto;
    width: fit-content;
  }

  #all-bathrooms-flex #filter-buttons {
    width: 98%;
    margin: 20px auto 0 auto;
    gap: 10px 5px;
  }

  #all-bathrooms-flex #filter-buttons button {
    font-size: 14px;
    padding: 10px;
    width: 180px;
    text-align: center;
  }

  #all-bathrooms {
    width: 100vw;
    min-width: 0;
    height: fit-content;
  }

  .one-bathroom-all {
    width: 90vw;
    display: block;
    margin: 10px auto;
    padding: 10px;
  }

  .one-bathroom-all h3 {
    text-align: center;
  }

  .one-bathroom-all h4 {
    text-align: center;
  }

  .one-bathroom-all p {
    font-size: 14px;
    padding: 0 20px;
  }
}
