#where-are-you-home {
  width: 90vw;
  max-width: 1100px;
  margin: auto;
}

#where-are-you-home h1 {
  text-align: center;
  font-family: Josefin Sans;
  color: var(--light-blue1);
}

#homepage-filters,
#homepage-filters-and-neighborhood,
#homepage-filters-and-neighborhood #filter-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px 40px;
}

#homepage-bathrooms-search input {
  display: inline;
  margin-right: 10px;
}

#homepage-bathrooms-search button {
  background-color: var(--dark-blue1);
  height: 40px;
  font-size: 20px;
  line-height: 1;
  padding: 3px 20px;
}

#homepage-bathrooms-search button:hover,
#homepage-filters-and-neighborhood button:hover {
  background-color: var(--light-blue4);
}

#homepage-filters-and-neighborhood #filter-buttons {
  gap: 10px;
}

#homepage-filters-and-neighborhood #neighborhood {
  margin: 0;
}

#homepage-filters-and-neighborhood #neighborhood option {
  background-color: green;
}

#home-slideshow {
  width: 90vw;
  max-width: 1200px;
  height: 600px;
  object-fit: contain;
  overflow: hidden;
  margin: 30px auto;
  border: 10px ridge goldenrod;
}

#all-slides {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  list-style: none;
  align-items: center;
  padding: 0;
  /* overflow: hidden; */
  transition: all 1s;
}

.slides {
  height: fit-content;
  width: 100%;
  flex: 1 0 auto;
}

.slide-image {
  height: 700px;
  width: 100%;
  object-fit: cover;
}

.slide-text {
  position: relative;
  top: -220px;
  left: 50px;
  font-size: 2rem;
  width: fit-content;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    var(--dark-blue1) 5%,
    var(--dark-blue1) 95%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 15px;
  padding: 10px 50px;
  opacity: 1;
  transition: opacity 2s 0.5s;
}

#homepage-about {
  width: 90vw;
  max-width: 1000px;
  margin: 5vw auto 5vw auto;
  padding: 30px;
  border-radius: 10px;
}

#homepage-about p,
#homepage-about h2 {
  max-width: 680px;
  text-align: center;
  margin: 10px auto 20px auto;
}

#homepage-about h1 {
  text-align: center;
  margin: 0px auto 80px auto;
  color: var(--light-blue1);
  font-size: 44px;
}

#homepage-about #single-bathroom-container {
  width: 75vw;
  max-width: 800px;
  background-color: var(--dark-blue5);
  padding: 10px;
  border: .5px solid var(--dark-blue5);
  border-radius: 5px;
  margin: 30px auto;
  color: white;
}

#single-bathroom-container #bathroom-name {
  font-size: 24px;
  margin: 10px auto;
  padding-top: 20px;
  color: white;
}

#homepage-about .one-bathroom-one-review {
  margin: 20px auto;
  padding: 0 20px;
  
}

#one-bathroom-location p {
  text-align: center;
  font-size: 20px;
}

#homepage-about .one-bathroom-one-review p {
  text-align: left;
  color: white;
}

#homepage-about .one-bathroom-one-review {
  background-color: var(--dark-blue5);
  border: 1px solid var(--dark-blue5);
}

#homepage-about .one-bathroom-one-review #review-top {
  font-family: Josefin Sans;
  font-size: 24px;
}

@media screen and (max-width: 600px) {
  #home-top-flex {
    display: block;
  }

  #where-are-you-home {
    width: 100vw;
    height: fit-content;
    margin-bottom: 10px;
  }

  #where-are-you-home h1 {
    font-size: 24px;
  }

  #homepage-filters {
    padding: 20px 0px;
    border-radius: 10px;
  }

  #homepage-bathrooms-search {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  #homepage-bathrooms-search input {
    width: 250px;
  }

  #homepage-filters-and-neighborhood #neighborhood {
    margin-top: 20px;
  }

  #home-slideshow {
    width: 90vw;
    margin: 0 auto;
    height: calc(90vw * 0.9);
  }

  .slide-image {
    height: calc(90vw * 0.9);
    width: 100%;
    object-fit: cover;
  }

  .slide-text {
    left: 0;
    top: -70px;
    font-size: 16px;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      var(--dark-blue1) 15%,
      var(--dark-blue1) 85%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  #homepage-about {
    width: 80vw;
    padding: 20px;
  }

  #homepage-about p {
    font-size: 14px;
  }

  #homepage-about #single-bathroom-container {
    width: 75vw;
    padding: 10px;
    margin: 30px auto;
  }

  #homepage-about .one-bathroom-one-review {
    width: 65vw;
    margin: 30px auto;
    padding: 20px;
  }
}

@media (prefers-color-scheme: light) {

  #where-are-you-home h1, #homepage-about h1 {
    color: var(--main-darkest);
  }

  .slide-text,
  .one-bathroom-one-review {
    color: var(--white);
  }

  #homepage-about .one-bathroom-one-review {
    background-color: var(--dark-blue5);
  }

}
