/* for one bathroom */

#loading {
  text-align: center;
  padding: 50px;
}

#bathroom-top-split #bathroom-name {
  text-align: center;
  font-size: 36px;
  margin-top: 30px;
  font-family: Josefin Sans;
}

#bathroom-top-split {
  display: grid;
  grid-template-columns: 1fr 500px;
  /* background-color: var(--dark-blue3); */
  padding: 0 calc(20px + 5vw);
  min-height: 400px;
}

#bathroom-top-split section {
  padding: 20px;
  max-width: 800px;
  width: calc(100% - 20px);
  margin: auto;
}

#single-bathroom-container {
  text-align: center;
}

#one-bathroom-location {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

#single-bathroom-container h3 {
  margin: 10px;
  font-size: 24px;
}

#one-bathroom-description,
#reviews-title {
  text-align: center;
}

#one-bathroom-description {
  padding: 0 10px;
  margin-top: 40px;
}

#bathroom-top-split #single-bathroom-container p {
  font-size: 20px;
}

#one-bathroom-filters p {
  text-align: center;
  margin: 10px auto;
  background-color: var(--dark-blue2);
  width: 250px;
  border-radius: 5px;
}

#one-bathroom-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 30px auto;
}

#one-bathroom-buttons button {
  background-color: var(--dark-blue1);
  border: black;
}

#bathroom-page-map {
  margin: 15px;
  border: 5px solid var(--dark-blue3);
  max-height: 500px;
}

#one-bathroom-reviews {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0px;
  margin-bottom: 20px;
  gap: 20px;
  /* background-color: var(--dark-blue3); */
  /* min-height: 600px; */
}

#reviews-title {
  margin: 80px auto 30px auto;
  font-family: Josefin Sans;
  padding: 10px 0;
  font-size: 24px;
  /* background-color: var(--dark-blue5); */
}

.one-bathroom-one-review {
  border: 1px solid black;
  border-radius: 10px;
  width: 45vw;
  max-width: 500px;
  padding: 20px;
  background-color: var(--dark-blue1);
}

.one-bathroom-one-review div:first-child {
  text-align: center;
  font-size: 24px;
}

.one-bathroom-one-review div:last-child { 
  text-align: right;
}

.one-bathroom-one-review p {
  margin: 0;
}

.one-bathroom-one-review div {
  margin: 20px auto;
}

.bodyBlurAB::after {
  content: "";
  height: 140vh;
  overflow: hidden;
  background-color: grey;
  opacity: 0.7;
  position: absolute;
  /* position: -webkit-sticky;
    position: sticky; */
  inset: 0;
}

#new-review-dialog {
  z-index: 5;
  width: 95vw;
  max-width: 600px;
  position: absolute;
  top: 100px;
  right: 0;
  padding: 0 1em;
  background-color: var(--main-darkest);
}

#new-review-title {
  text-align: center;
}

#nr-review-fields {
  padding: 20px;
  /* background-color: var(--dark-blue3); */
  margin: 20px auto;
  border-radius: 20px;
  /* border: 1px solid var(--light-blue1); */
  border: 0px;
  width: 500px;
}

.nr-flex {
  margin: 20px auto;
}

#nr-review-fields .nr-flex label {
  margin-top: 5px;
}

#nr-review-fields textarea {
  width: 100%;
  height: 40px;
  margin: 5px auto;
  background-color: var(--light-blue1);
  color: black;
  font-size: 16px;
}

#new-review-submit {
  display: block;
  background-color: var(--green-light);
  margin: 30px auto 0 auto;
  color: var(--dark-blue5);
}

#new-review-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: red;
  color: white;
  border: 1px solid black;
  border-radius: 2px;
  font-size: 18px;
}

#no-bathroom-found p,
#no-bathroom-found a {
  text-align: center;
  display: block;
}

#no-bathroom-found a {
  background-color: var(--dark-blue2);
  width: fit-content;
  margin: auto;
  color: var(--white);
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--light-blue2);
}

@media (prefers-color-scheme: light) {
  #single-bathroom-container #bathroom-name {
    color: var(--main-darkest);
  }

  .one-bathroom-one-review {
    background-color: var(--dark-blue1);
  }

  #one-bathroom-filters p {
    background-color: var(--dark-blue3);
    color: white;
  }

  #new-review-dialog {
    color: white;
  }

}

@media screen and (max-width: 1200px) {
  #bathroom-top-split {
    grid-template-columns: 1fr 350px;
    padding: 0 1vw;
  }
}

@media screen and (max-width: 600px) {
  #bathroom-top-split {
    display: block;
    padding: 0px 5px;
  }

  #bathroom-top-split section {
    padding: 0px;
    width: 90vw;
    margin: auto;
  }

  #bathroom-top-split section #single-bathroom-container {
    padding: 0 10px;
  }

  #single-bathroom-container #bathroom-name {
    padding-top: 10px;
    font-size: 30px;
  }

  #bathroom-top-split section #single-bathroom-container h3 {
    font-size: 16px;
  }

  #bathroom-top-split section #single-bathroom-container p {
    font-size: 14px;
    margin: 20px auto;
  }

  #one-bathroom-location h3 {
    font-size: 16px;
    margin: 10px auto;
  }

  #one-bathroom-description {
    font-size: 14px;
  }

  #one-bathroom-stats p {
    text-align: center;
    font-size: 14px;
    margin: 5px auto;
  }

  #one-bathroom-filters p {
    font-size: 12px;
    width: 200px;
  }

  #bathroom-page-map {
    width: 90vw;
    height: 90vw;
    margin: 20px auto;
  }

  #reviews-title {
    margin: 20px auto;
  }

  #one-bathroom-reviews {
    margin: 10px auto;
    display: block;
    padding: 5px 5px 20px 5px;
    min-height: 0;
  }

  .one-bathroom-one-review {
    margin: 5px auto;
    width: 80vw;
  }

  .one-bathroom-one-review div {
    margin: 15px auto;
  }

  .one-bathroom-one-review p {
    font-size: 14px;
  }

  #review-top p,
  #new-review-title {
    font-size: 18px;
  }

  #review-top {
    margin: 10px 10px 30px 10px;
  }

  #nr-review-fields {
    width: 80vw;
  }

  #nr-review-fields textarea {
    width: calc(80vw - 2px);
  }

  #new-review-dialog {
    width: 90vw;
    margin: auto;
    padding: 0 2vw;
  }

  #new-review-close {
    top: 15px;
    width: 25px;
    height: 25px;
    font-size: 10px;
  }

  #review-fields {
    width: 95%;
    min-width: 0px;
  }

  #all-rating-buttons {
    width: 250px;
    flex-flow: row wrap;
  }
}
