#nav-bar,
#nav-bar-mobile {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--dark-blue5);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

#nav-title,
nav div a {
  font-family: Josefin Sans;
}

#nav-bar-mobile {
  height: 60px;
}

#nav-left {
  display: grid;
  grid-template-columns: 70px 1fr;
  align-items: center;
}

#logo {
  height: 60px;
  width: 60px;
  padding: 10px 20px;
}

#logo-mobile {
    height: 40px;
    width: 40px;
    padding: 10px;
}

#nav-title,
#nav-title-mobile {
  font-size: 28px;
  font-weight: 800;
  margin: 0;
  margin-top: 25px;
  margin-left: 20px;
}

#nav-title-mobile {
  font-size: 16px;
  padding-top: 20px;
  margin: 0;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

#mobile-menu-button {
  margin: 0 10px;
  background-color: var(--light-blue4);
  color: black;
  font-size: 12px;
}

#mobile-open-menu {
  position: absolute;
  top: 60px;
  left: 0;
  background-color: var(--dark-blue5);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#mobile-open-menu a {
  width: 50%;
  max-width: 300px;
  text-align: center;
  margin: 1em auto;
}

nav,
nav div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

nav div a {
  display: block;
  width: 80px;
  text-align: center;
  margin: 1vw;
  line-height: 1.2;
}

#login p {
  margin: 0.5em;
}

#layout-outlet {
  margin: 0px 0px 60px 0px;
}

.display-error {
  color: red;
  max-width: 400px;
  width: 90vw;
  margin: 10px auto;
  text-align: center;
}

@media screen and (max-width: 1050px) {
  #logo {
    width: 60px;
    height: 60px;
  }

  #logo-container {
    width: 60px;
    height: 60px;
  }
}
