#about {
    margin: 2vw;
}

#about h1, #about h3 {
    text-align: center;
}

#about-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px;
}

#about-flex div {
    width: 48vw;
    max-width: 500px;
    min-width: 400px;
    background-color: var(--blue-dark);
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid var(--blue-light);
}

#about-data, #references-contact {
    width: 90vw;
    max-width: 1000px;
    margin: 20px auto;
    background-color: var(--blue-dark);
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid var(--blue-light);
}

hr {
    width: 200px;
    margin: 20px auto;
}

@media (prefers-color-scheme: light) { 
    #about-flex div, #about-data, #references-contact { 
        background-color: var(--green-light);
    }

    #about a {
        color: var(--blue-darkest)
    }
}
