#all-bathrooms {
  margin: 2vw;
}

.one-bathroom-all {
  border-radius: 10px;
  border: 2px solid var(--light-blue1);
  color: var(--white);
  background-color: inherit;
  margin: 15px 0;
  padding: 20px;
  display: grid;
  grid-template-columns: 45% 25% 25%;
  gap: 1%;
}

.one-bathroom-all:hover {
  box-shadow: 0px 0px 10px 2px white;
}

.one-bathroom-all h2, .one-bathroom-all h3 {
  height: fit-content;
  margin: auto 0px;
}

#all-bathrooms a:nth-of-type(odd) {
  text-align: left;
  background-color: var(--dark-blue5);
}

#all-bathrooms a:nth-of-type(even) {
  background-color: var(--dark-blue4);
}

#all-filters {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue3);
}

#all-bathrooms-search {
  display: block;
  width: fit-content;
  margin: 10px;
}

#all-bathrooms-search label {
  margin-right: 10px;
}

#search {
  width: 70vw;
  max-width: 300px;
  border: 0;
}

#search::placeholder {
  color: var(--white);
}

#search, #neighborhood select {
  font-size: 20px;
  height: 40px;
  padding: 0 10px;
  background-color: var(--dark-blue1);
  color: var(--white);
  border-radius: 5px;
}

#filters-and-neighborhood {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#filter-buttons button {
  background-color: var(--dark-blue2);
  border: 1px solid var(--light-blue2);
  margin: 10px;
}

#filter-buttons .button-active {
  background-color: var(--dark-blue1);
}

#neighborhood {
  margin: 10px;
}

#neighborhood option {
  text-align: center;
}

#all-filters :is(input, button, select):hover {
  box-shadow: 0px 0px 4px var(--white);
}

/* for one bathroom */

#bathroom-name {
  text-align: center;
  margin-top: 30px;
}

#bathroom-top-split {
  display: grid;
  grid-template-columns: 1fr 500px;
  background-color: var(--dark-blue3);
}

#bathroom-top-split section {
  padding: 20px;
}

#one-bathroom-location,
#one-bathroom-stats {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

#one-bathroom-description, #reviews-title {
  text-align: center;
}

#one-bathroom-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

#one-bathroom-buttons button {
  background-color: var(--dark-blue1);
  border: black;
}

#bathroom-page-map {
  margin: 15px;
  border: 5px solid var(--dark-blue3);
}

#one-bathroom-reviews {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0px;
  background-color: var(--dark-blue3);
  min-height: 600px;
}

#reviews-title {
  margin: 10px auto;
}

.one-bathroom-one-review {
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px;
  width: 45vw;
  max-width: 500px;
  padding: 10px;
  background-color: var(--dark-blue1);
}

.one-bathroom-one-review div:first-child {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.one-bathroom-one-review p {
  margin: 0;
}

.one-bathroom-one-review div {
  margin: 20px auto;
}

#new-review-dialog {
  z-index: 5;
  width: 95vw;
  max-width: 1000px;
  position: absolute;
  top: 100px;
  right: 0;
  padding: 0 1em;
}

#new-review-title {
  text-align: center;
}

.nr-flex {
  margin: 20px auto;
}

#review-fields .nr-flex label {
  margin-top: 5px;
}

#new-review-submit {
  display: block;
  background-color: var(--green-light);
  margin: 30px auto 0 auto;
  color: var(--dark-blue1);
}

@media (prefers-color-scheme: light) {
  #all-bathrooms a:nth-of-type(odd) {
    text-align: left;
    background-color: var(--light-blue1);
  }

  #all-bathrooms a:nth-of-type(even) {
    background-color: var(--light-blue2);
  }

  #all-bathrooms p, #all-bathrooms h3, #all-bathrooms h2 {
    color: var(--main-darkest)
  }

  .one-bathroom-all {
    border: 1px solid var(--blue-dark);
  }

  #bathroom-top-split, #one-bathroom-reviews { 
    background-color: var(--light-blue1);
  }

  .one-bathroom-one-review {
    background-color: var(--light-blue3);
  }

  #one-bathroom-buttons button {
    color: var(--white);
  }
}
