#all-bathrooms {
  margin: 2vw;
}

.one-bathroom-all {
  border-radius: 10px;
  border: 2px solid var(--blue-light);
  color: var(--main-white);
  background-color: inherit;
  margin: 15px 0;
  padding: 20px;
  display: grid;
  grid-template-columns: 45% 25% 25%;
  gap: 1%;
}

#all-bathrooms a:nth-of-type(odd) {
  text-align: left;
  background-color: var(--blue-dark);
}

#all-bathrooms a:nth-of-type(even) {
  background-color: var(--green-dark);
}

#all-bathrooms-search {
  display: block;
  width: fit-content;
  margin: 30px auto;
}

#all-bathrooms-search label {
  margin-right: 10px;
}

#search {
  width: 70vw;
  max-width: 300px;
}

#all-bathrooms-search label,
#search {
  font-size: 20px;
  height: 30px;
}

/* for one bathroom */

#bathroom-name {
  text-align: center;
}

#bathroom-top-split {
  display: grid;
  grid-template-columns: 1fr 500px;
  margin: auto 20px;
  gap: 20px;
}

#one-bathroom-location,
#one-bathroom-stats {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

#one-bathroom-description {
  text-align: center;
}

#one-bathroom-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (prefers-color-scheme: light) {
  #all-bathrooms a:nth-of-type(odd) {
    text-align: left;
    background-color: var(--blue-light);
  }

  #all-bathrooms a:nth-of-type(even) {
    background-color: var(--green-light);
  }

  .one-bathroom-all {
    border: 1px solid var(--blue-dark);
  }
}
