#nav-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--blue-dark);
    position: sticky;
    top: 0;
    left: 0;
}

#nav-title {
    font-size: 28px;
    padding: 0 20px;
}

nav,
nav div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

nav div a {
    display: block;
    width: 80px;
    text-align: center;
    margin: 1vw;
    line-height: 1.2;
}

#login p {
    margin: .5em;
}

#underline {
    text-decoration: underline;
    text-underline-offset: 8px;
}

#layout-outlet {
    margin: 0px 0px 60px 0px;
}



