#nav-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#nav-title {
    font-size: 28px;
    padding: 0 20px;
}

nav,
nav div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

nav div a {
    display: block;
    width: 80px;
    text-align: center;
    margin: 1vw;
    line-height: 1.2;
}

#login p {
    margin: .5em;
}

#underline {
    text-decoration: underline;
    text-underline-offset: 8px;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: black;
    color: white;
}

.one-bathroom-stock {
    border: 1px solid gold;
    width: 45vw;
    max-width: 450px;
    border-radius: 10px;
    padding: 10px;
}