#new-bathroom-container {
    width: 95vw;
    max-width: 1000px;
    margin: auto;
}

#bathroom-fields, #review-fields {
    background-color: var(--blue-middle);
    margin: 20px auto;
    border-radius: 20px;
}

#review-fields {
    padding-bottom: 30px;
}

#bathroom-fields input, #bathroom-fields label, #bathroom-fields textarea, #review-fields input, #review-fields label, #review-fields textarea  {
    width: 90%;
    margin: auto;
    display: block;
}

#bathroom-fields label, #review-fields label {
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 20px;
}

#bathroom-fields input, #review-fields input {
    font-size: 24px;
    height: 30px;
    padding: 5px;
}

#bathroom-fields textarea, #review-fields textarea {
    font-size: 24px;
    height: 60px;
    padding: 5px;
}

#all-nb-radios {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 40px 20px;
}

.nb-bool {
    width: 200px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-self: center;
    gap: 5px;
    padding: 20px;
}

#bathroom-fields .nb-radios label {
    margin: 0 auto;
    width: fit-content;
    text-align: center;
}

#all-rating-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    max-width: 800px;
    margin: 10px auto;
    gap: 10px;
}

#all-rating-buttons button {
    background-color: whitesmoke;
}

.hover-on {
    opacity: 1;
}

.hover-off {
    opacity: .7;
}

#new-bathroom-submit {
    display: block;
    width: 150px;
    height: 60px;
    font-size: 24px;
    color: white;
    background-color: var(--blue-dark);
    margin: 40px auto;
}