:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --main-darkest: rgb(23, 23, 74) ;
  --blue-dark: #0c073d;
  --blue-middle: #26408B;
  --blue-light: #4266d3;
  --green-dark: #06291b;
  --green-middle: #257355; 
  --green-light: #b3d9df;
  --green-lightest: #d7ece4;
  --main-white: #f6fffb;

  color-scheme: light dark;
  color: var(--main-white);
  background-color: var(--main-darkest);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--green-light);
  text-decoration: inherit;
}
a:hover {
  color: var(--green-lightest);
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--main-darkest);
    background-color: var(--main-white);
  }
  a:hover {
    color: var(--green-light);
  }
  button {
    background-color: var(--main-lightest);
  }
}
