#Auth {
    width: 90vw;
    max-width: 600px;
    margin: 50px auto;
}

#login > main {
    display: block;
    width: 90vw;
    margin: auto;
    background-color: grey;
}

#account-login, #sign-up {
    width: fit-content;
    background-color: #242424;
    margin: auto;
}

#login section h2, #login section div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#login section p, #login section button {
    margin: 1vw;
}

.supabase-auth-ui_ui-container input {
    color: white;
}

@media (prefers-color-scheme: light) {
    .supabase-auth-ui_ui-container input {
        color: var(--main-darkest);
    }
}

