#submit-bathroom-title {
  text-align: center;
  font-size: 30px;
  font-family: Josefin Sans;
  width: fit-content;
  margin: auto;
  width: 25%;
  min-width: 500px;
  color: var(--light-blue1);
}

#new-bathroom-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-width: 500px;
  max-width: 1200px;
  margin: auto;
  gap: 40px;
}

#bathroom-fields,
#review-fields {
  /* background-color: var(--dark-blue3); */
  border-radius: 20px;
  /* border: 1px solid var(--light-blue1); */
  border: 0px;
  width: 45%;
  min-width: 500px;
}

#left-side {
  width: 45%;
  min-width: 500px;
  margin-top: 20px;
}

#review-fields {
  padding-bottom: 30px;
}

#bathroom-fields input,
#bathroom-fields label,
#bathroom-fields textarea,
#bathroom-fields select,
#review-fields input,
#review-fields label,
#review-fields textarea,
#get-address-disclaimer,
#nr-photo {
  width: 90%;
  margin: auto;
  display: block;
}

#bathroom-fields label,
#review-fields label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 18px;
}

#bathroom-fields input,
#review-fields input,
#bathroom-fields select,
#bathroom-fields textarea,
#review-fields textarea {
  font-size: 16px;
  padding: 5px;
  background-color: var(--light-blue1);
  color: black;
}

#bathroom-fields input,
#review-fields input {
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
}

#bathroom-fields textarea,
#review-fields textarea {
  height: 50px;
}

#get-address {
  width: fit-content;
  margin: 5px auto;
  display: block;
  background-color: var(--dark-blue1);
}

#get-address-disclaimer {
  font-size: 10px;
}

#geocode-error {
  font-size: 12px;
}

.react-datepicker-wrapper {
  padding-left: 15px;
}

#photo-div-bf {
  padding-top: 10px;
}

#review-fields #nr-photo {
  background-color: var(--white);
  border-style: none;
}

#all-nb-checks {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 20px;
}

.nb-check {
  width: 200px;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-self: center;
  gap: 5px;
  padding: 20px;
}

#all-nb-checks .nb-checks label {
  width: 250px;
  text-align: center;
  margin: 10px auto;
}

#all-nb-checks .nb-checks input {
  height: 30px;
  margin: 10px auto;
}

#all-rating-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 10px auto;
  gap: 5px;
}

#all-rating-buttons button {
  padding: 10px;
  margin: 0;
  background-color: var(--light-blue4);
  display: block;
}

#all-rating-buttons .hover-on {
  opacity: 1;
  background-color: var(--light-blue1);
}

#all-rating-buttons .hover-off {
    background-color: var(--light-blue5);
}

#new-bathroom-submit {
  display: block;
  width: 150px;
  height: 60px;
  font-size: 24px;
  color: white;
  background-color: var(--dark-blue1);
  margin: 20px auto;
}

#new-bathroom-submit:hover {
  box-shadow: 0 0 10px 2px var(--light-blue1);
}

dialog {
  display: block;
  position: fixed;
  top: 200px;
  width: 80%;
  max-width: 650px;
  z-index: 3;
  left: 0;
  margin: auto;
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 10px;
}

.bodyBlur::after {
  content: "";
  height: 200vh;
  overflow: hidden;
  background-color: grey;
  opacity: 0.7;
  position: absolute;
  /* position: -webkit-sticky;
    position: sticky; */
  inset: 0;
}

dialog h3,
dialog p {
  text-align: center;
}

#submitted-dialog button {
  display: block;
  margin: 0 auto;
  background-color: var(--dark-blue3);
  color: white;
}

@media screen and (max-width: 600px) {

  #submit h2 {
    margin: 10px auto;
    width: fit-content;
    min-width: 0px;
  }

  #bathroom-fields > div {
    width: 100%;
    padding: 0;
  }

  #date-picker {
    width: 100%;
  }

  #bathroom-fields #get-address {
    width: fit-content;
    padding: 5px 10px;
  }

  #bathroom-fields #get-address-disclaimer {
    padding: 5px 20px;
    width: calc(100% - 40px);
  }

  #new-bathroom-flex, #left-side, #bathroom-fields, #review-fields {
    width: 100%;
    min-width: 0;
    margin: 0;
  }

  #new-bathroom-flex {
    gap: 10px;
  }

  #all-nb-checks {
    display: block;
    margin: 15px 0;
  }

  .nb-checks {
    padding: 0 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  #all-nb-checks .nb-checks label {
    width: 180px;
    font-size: 14px;
    text-align: left;
  }

  #all-nb-checks .nb-checks input {
    margin-bottom: 5px;
    width: 40px;
  }

}

@media (prefers-color-scheme: light) {
  #new-bathroom-container * {
    color: var(--main-darkest);
  }

  #new-bathroom-submit, #get-address {
    background-color: var(--dark-blue1);
    color: white;
  }
 }
